<div class="container mx-auto px-[12px] 2xl:px-0">

    <owl-carousel-o [options]="slidesvideos">

        <!-- video 1 -->
        <ng-template carouselSlide>
            <div class="bg-[#343456] rounded-[20px]">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-[30px] md:gap-[35px] lg:gap-0"> 
                                    
                    <div class="self-center lg:mr-[95px] xl:mr-[104px] relative z-[1] md:pr-[20px] before:left-0 before:top-0 before:bottom-0 before:right-0 before:bg-[#51869a] before:absolute before:-z-[1] before:rounded-[20px] before:hidden md:before:block">
        
                    <div class="mx-auto w-full max-w-md overflow-hidden rounded-[20px] shadow-lg aspect-[9/16]">
                  <video
                    class="w-full h-full object-cover"
                    src="assets/videos/Video1.mp4"
                    poster="assets/images/home.png"
                    controls
                    controlsList="nodownload"
                    oncontextmenu="return false;"
                    muted
                    defaultMuted
                    loop
                    playsinline
                  >
                    Tu navegador no soporta la etiqueta <code>&lt;video&gt;</code>.
                  </video>
                </div>
                    </div>
                    <div class="self-center lg:-ml-[60px] 2xl:-ml-[35px] pl-[15px] sm:pl-[25px] md:pl-[35px] lg:pl-0 pb-[30px] md:pb-[35px] lg:pb-0 pr-[15px] sm:pr-[25px] md:pr-[35px] lg:pr-[30px] xl:pr-[50px] 2xl:pr-[70px] lg:mt-[50px] lg:mb-[50px] xl:mt-0 xl:mb-0">
        
                        <h3 class="text-white center font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] mb-[25px] md:mb-[35px] 2xl:mb-[40px] xl:max-w-[575px] font-serif" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                           Soluciones integrales en electricidad y telecomunicaciones, con asesoría técnica profesional y compromiso de calidad.
                        </h3>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-[22px] md:gap-[25px] md:gap-[20px] 2xl:gap-[40px]">
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Soluciones Integrales
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    Desde el diseño hasta la puesta en marcha: cubrimos todas las etapas de tu proyecto eléctrico.
                                </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Acompañamiento Personalizado
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    Te asesoramos y guiamos en cada paso, adaptándonos a tus requerimientos específicos.
                                </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Experiencia en Colombia
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                Desarrollo de iniciativas exitosas en Colombia y otros mercados, 
                                respaldadas por dominio de regulaciones y desafíos propios de cada región.                        </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Responsabilidad & Pasión
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    Compromiso total y entusiasmo en cada trabajo para garantizar resultados de excelencia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- video 2 -->
        <ng-template carouselSlide>
            <div class="bg-[#343456] rounded-[20px]">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-[30px] md:gap-[35px] lg:gap-0"> 
                                    
                    <div class="self-center lg:mr-[95px] xl:mr-[104px] relative z-[1] md:pr-[20px] before:left-0 before:top-0 before:bottom-0 before:right-0 before:bg-[#51869a] before:absolute before:-z-[1] before:rounded-[20px] before:hidden md:before:block">
        
                    <div class="mx-auto w-full max-w-md overflow-hidden rounded-[20px] shadow-lg aspect-[9/16]">
                  <video
                    class="w-full h-full object-cover"
                    src="assets\videos\Video2.mp4"
                   
                    poster="assets/images/home.png"
                    controls
                    controlsList="nodownload"
                    oncontextmenu="return false;"
                    muted
                    defaultMuted
                    loop
                    playsinline
                  >
                    Tu navegador no soporta la etiqueta <code>&lt;video&gt;</code>.
                  </video>
                </div>
                    </div>
                    <div class="self-center lg:-ml-[60px] 2xl:-ml-[35px] pl-[15px] sm:pl-[25px] md:pl-[35px] lg:pl-0 pb-[30px] md:pb-[35px] lg:pb-0 pr-[15px] sm:pr-[25px] md:pr-[35px] lg:pr-[30px] xl:pr-[50px] 2xl:pr-[70px] lg:mt-[50px] lg:mb-[50px] xl:mt-0 xl:mb-0">
        
                        <h3 class="text-white center font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] mb-[25px] md:mb-[35px] 2xl:mb-[40px] xl:max-w-[575px] font-serif" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                           Para nosotros, cada proyecto es una oportunidad de generar valor…
                        </h3>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-[22px] md:gap-[25px] md:gap-[20px] 2xl:gap-[40px]">
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Generación de Valor
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    De generar valor, eficiencia y confianza en cada fase de tu proyecto.
                                </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Eficiencia y Confianza
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    Optimizamos procesos, reducimos costos y mejoramos los tiempos de ejecución.
                                </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                     Enfoque Humano
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                Luz natural y atención a gestos y miradas para un servicio cercano y transparente.                        </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                     Soluciones Ágiles y Precisas
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    Con soluciones ágiles, precisas… y pensadas para cada necesidad.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- video 3 -->
        <ng-template carouselSlide>
            <div class="bg-[#343456] rounded-[20px]">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-[30px] md:gap-[35px] lg:gap-0"> 
                                    
                    <div class="self-center lg:mr-[95px] xl:mr-[104px] relative z-[1] md:pr-[20px] before:left-0 before:top-0 before:bottom-0 before:right-0 before:bg-[#51869a] before:absolute before:-z-[1] before:rounded-[20px] before:hidden md:before:block">
        
                    <div class="mx-auto w-full max-w-md overflow-hidden rounded-[20px] shadow-lg aspect-[9/16]">
                  <video
                    class="w-full h-full object-cover"
                    src="assets/videos/video3.mp4"
                    poster="assets/images/home.png"
                    controls
                    controlsList="nodownload"
                    oncontextmenu="return false;"
                    muted
                    defaultMuted
                    loop
                    playsinline
                  >
                    Tu navegador no soporta la etiqueta <code>&lt;video&gt;</code>.
                  </video>
                </div>
                    </div>
                    <div class="self-center lg:-ml-[60px] 2xl:-ml-[35px] pl-[15px] sm:pl-[25px] md:pl-[35px] lg:pl-0 pb-[30px] md:pb-[35px] lg:pb-0 pr-[15px] sm:pr-[25px] md:pr-[35px] lg:pr-[30px] xl:pr-[50px] 2xl:pr-[70px] lg:mt-[50px] lg:mb-[50px] xl:mt-0 xl:mb-0">
        
                        <h3 class="text-white center font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] mb-[25px] md:mb-[35px] 2xl:mb-[40px] xl:max-w-[575px] font-serif" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                           La confianza se gana con resultados.
                        </h3>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-[22px] md:gap-[25px] md:gap-[20px] 2xl:gap-[40px]">
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Resultados Comprobados
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    Proyectos que entregan resultados concretos y medibles desde el primer día.
                                </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Testimonio Real
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    Con Titán optimizamos un 30 % nuestros costos eléctricos…
                                </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Soluciones a Medida
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                Proyectos a la medida, con eficiencia y precisión en cada detalle.
                                </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Durabilidad Garantizada
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    Cada instalación es pensada para durar y rendir al máximo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- video 4 -->
        <ng-template carouselSlide>
            <div class="bg-[#343456] rounded-[20px]">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-[30px] md:gap-[35px] lg:gap-0"> 
                                    
                    <div class="self-center lg:mr-[95px] xl:mr-[104px] relative z-[1] md:pr-[20px] before:left-0 before:top-0 before:bottom-0 before:right-0 before:bg-[#51869a] before:absolute before:-z-[1] before:rounded-[20px] before:hidden md:before:block">
        
                    <div class="mx-auto w-full max-w-md overflow-hidden rounded-[20px] shadow-lg aspect-[9/16]">
                  <video
                    class="w-full h-full object-cover"
                    src="assets\videos\video4.mp4"
                    poster="assets/images/home.png"
                    controls
                    controlsList="nodownload"
                    oncontextmenu="return false;"
                    muted
                    defaultMuted
                    loop
                    playsinline
                  >
                    Tu navegador no soporta la etiqueta <code>&lt;video&gt;</code>.
                  </video>
                </div>
                    </div>
                    <div class="self-center lg:-ml-[60px] 2xl:-ml-[35px] pl-[15px] sm:pl-[25px] md:pl-[35px] lg:pl-0 pb-[30px] md:pb-[35px] lg:pb-0 pr-[15px] sm:pr-[25px] md:pr-[35px] lg:pr-[30px] xl:pr-[50px] 2xl:pr-[70px] lg:mt-[50px] lg:mb-[50px] xl:mt-0 xl:mb-0">
        
                        <h3 class="text-white center font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] mb-[25px] md:mb-[35px] 2xl:mb-[40px] xl:max-w-[575px] font-serif" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                           Confianza en cada conexión.
                        </h3>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-[22px] md:gap-[25px] md:gap-[20px] 2xl:gap-[40px]">
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Confianza desde el inicio
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    La confianza se construye desde el primer día.
                                </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Cuidado en el detalle
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    En Titán Ingeniería, cada detalle cuenta…
                                </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                    Planeación y precisión
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                               Detrás de cada proyecto hay planeación, orden y precisión.                       </p>
                            </div>
                            <div class="relative pl-[32px] md:pl-[35px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
                                <div class="absolute left-0 top-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="white"/>
                                    </svg>
                                </div>
                                <h3 class="font-bold font-serif text-[18px] text-white leading-[1] mb-[12px] md:mb-[14px] font-serif">
                                     Seguridad y eficiencia real
                                </h3>
                                <p class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif">
                                    Así logramos resultados que generan seguridad y eficiencia real.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
     
    </owl-carousel-o>
</div>