<section class="bg-[#51869a] dark:bg-[#343456]">
    <div
        class="py-8 lg:py-16 px-4 mx-auto max-w-screen-lg text-center"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-delay="100"
    >
        <h1
            class="mb-4 text-5xl tracking-tight font-extrabold text-white font-2-times"
        >
            Contactanos
        </h1>
        <p
            class="mb-8 text-lg font-normal text-gray-200 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 font-2-times"
        >
            Si tienes alguna pregunta, comentario o simplemente quieres ponerte
            en contacto con nosotros, ¡no dudes en hacerlo! Estamos aquí para
            ayudarte y nos encantaría saber de ti.
        </p>

        <div class="flex flex-wrap justify-between gap-8">
            <!-- Left Column: Contact Information -->
            <div class="w-full md:w-5/12 text-white">
                <div class="text-left mb-6">
                    <h2
                        class="text-3xl font-semibold text-white dark:text-white font-2-times"
                    >
                        Información de Contacto
                    </h2>
                    <p class="text-lg font-2-times">
                        Puedes contactarnos a través de los siguientes medios:
                    </p>
                </div>
                <div class="space-y-4">
                    <a
                        href="mailto:Titaningenieriaelectrica@gmail.com?subject=Consulta sobre servicio&body=Hola, tengo una consulta sobre el servicio."
                        class="flex items-center text-white hover:underline font-2-times"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6 mr-1"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                            />
                        </svg>
                        Titaningenieriaelectrica&#64;gmail.com
                    </a>

                    <a
                        href="tel:3103080377"
                        class="flex items-center text-white hover:underline font-2-times"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6 mr-1"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"
                            />
                        </svg>

                        +57 310 308 03 77
                    </a>

                    <a
                        href="https://www.google.com/maps/@6.2532788,-75.6034927,3a,75y,172.04h,95.4t/data=!3m7!1e1!3m5!1s85p_SRKuYu3dP3RG0gvdGQ!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D-5.400272455382975%26panoid%3D85p_SRKuYu3dP3RG0gvdGQ%26yaw%3D172.0426200446758!7i16384!8i8192?entry=ttu&g_ep=EgoyMDI1MDYxNi4wIKXMDSoASAFQAw%3D%3D"
                        target="_blank"
                        class="flex items-center text-left text-white hover:underline font-2-times"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-9 mr-1 mb-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                            />
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                            />
                        </svg>

                        Carrera 84 # 44C-32. Oficina 102. Edificio Tunki Barrio
                        la floresta, Medellín, Antioquia
                    </a>
                </div>

                <div class="mt-8">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.870626205698!2d-75.6056816858855!3d6.253278895000646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44e7b9c5c5a7b9%3A0x85a4c8b8b8b8b8b8!2sCarrera%2084%20%2344C-32%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1700000000000"
                        class="w-full h-72 border-[5px] border-[#51869a] rounded-lg"
                        allowfullscreen=""
                        loading="lazy"
                    ></iframe>
                </div>
            </div>

            <!-- Right Column: Form -->
            <div class="w-full md:w-5/12 bg-[#f4f6f9] p-6 rounded-lg shadow-md">
                <h2
                    class="text-2xl font-semibold text-[#51869a] mb-4 font-2-times"
                >
                    Envíanos tu Mensaje
                </h2>
                <form action="#" class="space-y-8">
                    <div>
                        <label
                            for="email"
                            class="block mb-2 text-sm font-medium text-black dark:text-black font-2-times"
                            >Correo Electrónico</label
                        >
                        <input
                            type="email"
                            id="email"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-[#51869a] focus:border-[#51869a] block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-black dark:text-black dark:focus:ring-[#51869a] dark:focus:border-[#51869a] font-2-times"
                            placeholder="yourEmail@gmail.com"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="subject"
                            class="block mb-2 text-sm font-medium text-black dark:text-black font-2-times"
                            >Asunto</label
                        >
                        <input
                            type="text"
                            id="subject"
                            class="block p-3 w-full text-sm text-black bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-[#51869a] focus:border-[#51869a] dark:bg-white dark:border-gray-600 dark:placeholder-black dark:text-black dark:focus:ring-[#51869a] dark:focus:border-[#51869a] font-2-times"
                            placeholder="Escribe el Asunto"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="message"
                            class="block mb-2 text-sm font-medium text-black dark:text-black font-2-times"
                            >Motivo de Contacto</label
                        >
                        <select
                            id="countries"
                            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:border-black dark:placeholder-black dark:focus:ring-blue-500 dark:focus:border-black font-2-times"
                        >
                            <option selected>Selecciona un motivo</option>
                            <option value="1">Servicios Eléctricos</option>
                            <option value="2">
                                Servicios Telecomunicaciones
                            </option>
                            <option value="3">Mantenimiento Industrial</option>
                            <option value="4">Mantenimiento de Equipos</option>
                        </select>
                    </div>
                    <div class="sm:col-span-2">
                        <label
                            for="message"
                            class="block mb-2 text-sm font-medium text-black dark:text-black font-2-times"
                            >Mensaje</label
                        >
                        <textarea
                            id="message"
                            rows="6"
                            class="block p-2.5 w-full text-sm text-black bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-[#51869a] focus:border-[#51869a] dark:bg-white dark:border-gray-600 dark:placeholder-black dark:text-black dark:focus:ring-[#51869a] dark:focus:border-[#51869a] font-2-times"
                            placeholder="Escribe tu mensaje aquí..."
                        ></textarea>
                    </div>
                    <button
                        type="submit"
                        class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-[#51869a] sm:w-fit hover:bg-[#343456] focus:ring-4 focus:outline-none focus:ring-[#51869a] dark:bg-[#333259] dark:hover:bg-[#51869a] dark:focus:ring-[#333259] font-2-times"
                    >
                        Enviar Mensaje
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
