<div class="container mx-auto px-[12px] 2xl:px-0">
    <div class="mb-[20px] md:mb-[20px] lg:mb-[20px] text-center bg-[#343456]">
        <h2
            class="text-white font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] ml-auto mr-auto lg:max-w-[650px] leading-[1.2]"
            data-aos="fade-up"
            data-aos-duration="500"
            data-aos-delay="200"
        >
            Proyectos destacados
        </h2>
    </div>
    <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[25px] bg-[#f9f9f9] pt-[30px] md:pt-[40px] lg:pt-[50px] xl:pt-[60px] pb-[30px] md:pb-[40px] lg:pb-[50px] xl:pb-[60px]"
    >
        <!-- exito AV 80 --> 
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <div
                class="bg-[#51869a] rounded-[15px]"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="100"
            >
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                >
                    <h3
                        class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px]"
                    >
                        <a
                            routerLink="/customers"
                            class="text-white transition-all hover:text-[#f9f9f9] inline-block font-serif"
                        >
                            Éxito AV. 80
                        </a>
                    </h3>
                </div>
                <img
                    src="assets/images/solutions/exito.png"
                    alt="solution-image"
                />
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[40px]"
                >
                    <p
                        class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-serif text-white"
                    >
                        Construcción eléctrica y cableado estructurado.
                    </p>
                </div>
            </div>
        </div>
        <!-- oficinas sufi --> 
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <div
                class="bg-[#343456] rounded-[15px]"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="200"
            >
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                >
                    <h3
                        class="font-serif font-bold text-white text-[18px] md:text-[20px] lg:text-[22px]"
                    >
                        <a
                            routerLink="/customers"
                            class="text-white transition-all hover:text-[#f9f9f9] inline-block font-serif"
                        >
                            Oficinas Sufi
                        </a>
                    </h3>
                </div>
                <img
                    src="assets/images/solutions/suffi.png"
                    alt="solution-image"
                />
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[40px]"
                >
                    <p
                        class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-serif text-white"
                    >
                        Construcción eléctrica y cableado estructurado.
                    </p>
                </div>
            </div>
        </div>
        <!-- incodol --> 
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <div
                class="bg-[#51869a] rounded-[15px]"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="400"
            >
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                >
                    <h3
                        class="font-serif font-bold text-white text-[18px] md:text-[20px] lg:text-[22px]"
                    >
                        <a
                            routerLink="/customers"
                            class="text-white transition-all hover:text-[#f9f9f9] inline-block font-serif"
                        >
                            Incodol
                        </a>
                    </h3>
                </div>
                <img
                    src="assets/images/solutions/incodol.png"
                    alt="solution-image"
                />
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[40px]"
                >
                    <p
                        class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-serif text-white"
                    >
                        Construcción Eléctrica y Cableado Estructurado.
                    </p>
                </div>
            </div>
        </div>
        <!-- U autonoma  --> 
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <div
                class="bg-[#343456] rounded-[15px]"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="100"
            >
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                >
                    <h3
                        class="font-serif font-bold text-white text-[20px] md:text-[20px] lg:text-[20px]"
                    >
                        <a
                            routerLink="/customers"
                            class="text-white transition-all hover:text-[#f9f9f9] inline-block font-serif"
                        >
                            Universidad Autónoma
                        </a>
                    </h3>
                </div>
                <img
                    src="assets/images/solutions/unaula1.png"
                    alt="solution-image"
                />
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[40px]"
                >
                    <p
                        class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-serif text-white"
                    >
                        Construcción eléctrica y cableado estructurado.
                    </p>
                </div>
            </div>
        </div>
        <!-- Centro comercial Unicentro--> 
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <div
                class="bg-[#51869a] rounded-[15px]"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="100"
            >
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                >
                    <h3
                        class="font-serif font-bold text-white text-[20px] md:text-[20px] lg:text-[20px]"
                    >
                        <a
                            routerLink="/customers"
                            class="text-white transition-all hover:text-[#f9f9f9] inline-block font-serif"
                        >
                            Centro comercial Unicentro
                        </a>
                    </h3>
                </div>
                <img
                    src="assets/images/solutions/unicentro.png"
                    alt="solution-image"
                />
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[16px]"
                >
                    <p
                        class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-serif text-white"
                    >
                        Remodelación Cableado
                        Estructurado y Sistema de
                        Iluminación
                    </p>
                </div>
            </div>
        </div>
        <!-- Clínica Oftalmológica del Poblado--> 
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <div
                class="bg-[#343456] rounded-[15px]"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="100"
            >
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                >
                    <h3
                        class="font-serif font-bold text-white text-[20px] md:text-[20px] lg:text-[20px]"
                    >
                        <a
                            routerLink="/customers"
                            class="text-white transition-all hover:text-[#f9f9f9] inline-block font-serif"
                        >
                            Clínica Oftalmológica del Poblado
                        </a>
                    </h3>
                </div>
                <img
                    src="assets/images/solutions/clinicaoftamologica.png"
                    alt="solution-image"
                />
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[40px]"
                >
                    <p
                        class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-serif text-white"
                    >
                        Construcción eléctrica y cableado estructurado.
                    </p>
                </div>
            </div>
        </div>
        <!-- Bodegas Practiseguros y Aliplas --> 
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <div
                class="bg-[#51869a] rounded-[15px]"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="100"
            >
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                >
                    <h3
                        class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px]"
                    >
                        <a
                            routerLink="/customers"
                            class="text-white transition-all hover:text-[#f9f9f9] inline-block font-serif"
                        >
                        Bodegas Practiseguros y Aliplas
                        </a>
                    </h3>
                </div>
                <img
                    src="assets/images/solutions/Bodegas.png"
                    alt="solution-image"
                />
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[40px]"
                >
                    <p
                        class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-serif text-white"
                    >
                        Construcción eléctrica y cableado estructurado.
                    </p>
                </div>
            </div>
        </div>
        <!-- Construcción Eléctrica de subestación --> 
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <div
                class="bg-[#343456] rounded-[15px]"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="200"
            >
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                >
                    <h3
                        class="font-serif font-bold text-white text-[18px] md:text-[20px] lg:text-[19px]"
                    >
                        <a
                            routerLink="/customers"
                            class="text-white transition-all hover:text-[#f9f9f9] inline-block font-serif"
                        >
                            Construcción Eléctrica de subestación
                        </a>
                    </h3>
                </div>
                <img
                    src="assets/images/solutions/Bucaramanga.png"
                    alt="solution-image"
                />
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[40px]"
                >
                    <p
                        class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-serif text-white"
                    >
                       Barrancabermeja, Santander.
                    </p>
                </div>
            </div>
        </div>
        <!-- Centro comercial mayorca, Etapa 3 --> 
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <div
                class="bg-[#51869a] rounded-[15px]"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="400"
            >
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                >
                    <h3
                        class="font-serif font-bold text-white text-[18px] md:text-[20px] lg:text-[20px]"
                    >
                        <a
                            routerLink="/customers"
                            class="text-white transition-all hover:text-[#f9f9f9] inline-block font-serif"
                        >
                            Centro comercial Mayorca, Etapa 3
                        </a>
                    </h3>
                </div>
                <img
                    src="assets/images/solutions/incodol.png"
                    alt="solution-image"
                />
                <div
                    class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[40px]"
                >
                    <p
                        class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-serif text-white"
                    >
                       Instalaciones eléctricas y sistemas de iluminación
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[10px] bg-[#343456]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
            <div>
                <h2
                    class="text-white font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] mb-[20px] md:mb-[25px] lg:mb-[78px] xl:max-w-[575px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="200"
                >
                    También nos eligen
                </h2>

                <div
                    class="md:mt-[10px] lg:mt-0 xl:mt-[20px] grid grid-cols-1 md:grid-cols-2 gap-[22px] md:gap-[25px] md:gap-[20px] 2xl:gap-[35px]"
                >
                    <div
                        class="relative pl-[32px] md:pl-[35px]"
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="300"
                    >
                        <div class="absolute left-0 -top-[0px]">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                            >
                                <path
                                    d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                    fill="white"
                                />
                            </svg>
                        </div>
                        <p
                            class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                        >
                            Unidad Residencial Nueva villa de Aburrá
                        </p>
                    </div>
                    <div
                        class="relative pl-[32px] md:pl-[35px]"
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="400"
                    >
                        <div class="absolute left-0 -top-[0px]">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                            >
                                <path
                                    d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                    fill="white"
                                />
                            </svg>
                        </div>
                        <p
                            class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                        >
                            Conjunto de uso mixto torres del río
                        </p>
                    </div>
                    <div
                        class="relative pl-[32px] md:pl-[35px]"
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="400"
                    >
                        <div class="absolute left-0 -top-[0px]">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                            >
                                <path
                                    d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                    fill="white"
                                />
                            </svg>
                        </div>
                        <p
                            class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                        >
                            Institución San Francisco de Asís. Bogotá.
                        </p>
                    </div>
                    <div
                        class="relative pl-[32px] md:pl-[35px]"
                        data-aos="fade-up"
                        data-aos-duration="500"
                        data-aos-delay="400"
                    >
                        <div class="absolute left-0 -top-[0px]">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                            >
                                <path
                                    d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                    fill="white"
                                />
                            </svg>
                        </div>
                        <p
                            class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                        >
                            Super Spa Automotríz. El Poblado, Medellín.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="md:mt-[10px] lg:mt-0 xl:mt-[20px] grid grid-cols-1 md:grid-cols-3 gap-[22px] md:gap-[25px] md:gap-[20px] 2xl:gap-[35px]"
            >
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="300"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Mimo’s
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Ramo
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Familia
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Megared
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Edificio San Agustín.
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Edificio San Javier.
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        ALCO S.A.
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Productos Base Kup.
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Mina Caicedo Antioquia.
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Arus
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Personería de Sabaneta
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Club Campestre Medellín
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Sites hotel Medellín, Montería
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Cedro verde parque residencial
                    </p>
                </div>
                <div
                    class="relative pl-[32px] md:pl-[35px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div class="absolute left-0 -top-[0px]">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <p
                        class="text-[14px] md:text-[15px] text-[#f9f9f9] leading-[1.7] font-serif"
                    >
                        Condominio Acanto
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
