<div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div
            class="grid grid-cols-1 lg:grid-cols-2 mb-[30px] md:mb-[40px] lg:mb-[50px]"
        >
            <div class="self-center">
                <span
                    class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px] font-2-times"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="100"
                >
                </span>
                <h2
                    class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] lg:max-w-[600px] leading-[1.2] font-2-times"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="200"
                >
                    Proyectos destacados
                </h2>
            </div>
            <div class="self-center lg:text-right">
                <a
                    routerLink="/customers"
                    class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[15px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px] font-2-times font-2-times"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="100"
                >
                    Ver mas proyectos
                    <svg
                        class="absolute right-[-2px] -mt-[1px] top-1/2 -translate-y-2/4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                    >
                        <path
                            d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583"
                            stroke="#0a64bc"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M2.91669 10H16.9417"
                            stroke="#0a64bc"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </a>
            </div>
        </div>
        <owl-carousel-o [options]="solutionsSlides">
            <ng-template carouselSlide>
                <div
                    class="bg-white rounded-[15px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="100"
                >
                    <div
                        class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                    >
                        <h3
                            class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px]"
                        >
                            <a
                                routerLink="/customers"
                                class="text-black transition-all hover:text-[#0a64bc] inline-block font-2-times"
                            >
                                Éxito AV. 80
                            </a>
                        </h3>
                    </div>
                    <img
                        src="assets/images/solutions/exito.png"
                        alt="solution-image"
                    />
                    <div
                        class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[40px]"
                    >
                        <p
                            class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-2-times"
                        >
                            Construcción eléctrica y cableado estructurado.
                        </p>
                        <a
                            routerLink="/customers"
                            class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[15px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px] font-2-times"
                        >
                            Ver mas.
                            <svg
                                class="absolute right-[-2px] top-1/2 -translate-y-2/4"
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                            >
                                <path
                                    d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583"
                                    stroke="#0a64bc"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M2.91669 10H16.9417"
                                    stroke="#0a64bc"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div
                    class="bg-white rounded-[15px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="200"
                >
                    <div
                        class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                    >
                        <h3
                            class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px]"
                        >
                            <a
                                routerLink="/customers"
                                class="text-black transition-all hover:text-[#0a64bc] inline-block font-2-times"
                            >
                                Oficinas Sufi
                            </a>
                        </h3>
                    </div>
                    <img
                        src="assets/images/solutions/suffi.png"
                        alt="solution-image"
                    />
                    <div
                        class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[40px]"
                    >
                        <p
                            class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-2-times"
                        >
                            Construcción eléctrica y cableado estructurado.
                        </p>
                        <a
                            routerLink="/customers"
                            class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[15px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px] font-2-times"
                        >
                            Ver mas
                            <svg
                                class="absolute right-[-2px] top-1/2 -translate-y-2/4"
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                            >
                                <path
                                    d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583"
                                    stroke="#0a64bc"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M2.91669 10H16.9417"
                                    stroke="#0a64bc"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div
                    class="bg-white rounded-[15px]"
                    data-aos="fade-up"
                    data-aos-duration="500"
                    data-aos-delay="400"
                >
                    <div
                        class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] md:pt-[30px] lg:pt-[40px] pb-[20px]"
                    >
                        <h3
                            class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px]"
                        >
                            <a
                                routerLink="/customers"
                                class="text-black transition-all hover:text-[#0a64bc] inline-block font-2-times"
                            >
                                INDOCOL
                            </a>
                        </h3>
                    </div>
                    <img
                        src="assets/images/solutions/incodol.png"
                        alt="solution-image"
                    />
                    <div
                        class="px-[15px] md:px-[25px] lg:px-[30px] xl:px-[40px] pt-[20px] pb-[20px] md:pb-[30px] lg:pb-[40px]"
                    >
                        <p
                            class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] font-2-times"
                        >
                            Construcción Eléctrica y Cableado Estructurado.
                        </p>
                        <a
                            routerLink="/customers"
                            class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[15px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px] font-2-times"
                        >
                            Ver mas
                            <svg
                                class="absolute right-[-2px] top-1/2 -translate-y-2/4"
                                xmlns="http://www.w3.org/2000/svg"
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                            >
                                <path
                                    d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583"
                                    stroke="#0a64bc"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M2.91669 10H16.9417"
                                    stroke="#0a64bc"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
