<div
    class="bg-center bg-cover bg-no-repeat py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px]"
    style="background-image: url(assets/images/acercanosotros.png);"
>
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="md:max-w-[485px]">
            <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] mb-[10px] md:mb-[17px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            En Titan Ingeniería 
            </h2>
            <h3 
            class="text-black font-serif font-normal text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] mb-[10px] md:mb-[17px]" 
            data-aos="fade-up" 
            data-aos-duration="500" 
            data-aos-delay="100"
            >
            diseñamos, instalamos y mantenemos sistemas eléctricos y de cableado estructurado, 
            garantizando eficiencia y seguridad en cada proyecto.
            </h3>

            <a routerLink="/home-loan" class="mt-[2px] md:mt-[5px] lg:mt-[10px] xl:mt-[20px] py-[11px] md:py-[12px] lg:py-[13px] px-[30px] md:px-[40px] inline-block text-white text-[13px] md:text-[14px] font-medium uppercase border bg-[#51869a] bg-[#343456] rounded-full transition-all hover:bg-white hover:text-[#51869a] font-serif" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
            CONTÁCTANOS
            </a>
        </div>
    </div>
</div>