<footer class="pt-[60px] md:pt-[80px] lg:pt-[100px] xl:pt-[120px]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-[25px]">
            <div>
                <a routerLink="/" class="inline-block mb-[15px]">
                    <img src="assets/images/logo.png" alt="logo" />
                </a>
                <p
                    class="text-[14px] md:text-[15px] text-[#343456] leading-[1.7] font-2-times mb-[15px] font-2-times"
                >
                    Titan es un grupo empresarial prestadora de servicios de
                    servicios tecnicos de electricidad y mantenimiento locativo.
                </p>
                <span
                    class="mt-[20px] md:mt-[25px] xl:mt-[40px] relative block text-[14px] md:text-[15px] text-[#343456] pl-[32px] md:pl-[35px] font-2-times"
                >
                    <i
                        class="ri-map-2-line absolute left-0 text-[25px] text-[#51869a] -top-[8px]"
                    ></i>
                    Ver ubicación en
                    <a
                        href="https://www.google.com/maps/@6.2532788,-75.6034927,3a,75y,172.04h,95.4t/data=!3m7!1e1!3m5!1s85p_SRKuYu3dP3RG0gvdGQ!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D-5.400272455382975%26panoid%3D85p_SRKuYu3dP3RG0gvdGQ%26yaw%3D172.0426200446758!7i16384!8i8192?entry=ttu&g_ep=EgoyMDI1MDYxNi4wIKXMDSoASAFQAw%3D%3D"
                        target="_blank"
                        class="text-black underline font-medium transition-all hover:text-[#51869a] font-2-times"
                        >Google Maps</a
                    >
                </span>
            </div>
            <div class="xl:pl-[112px]">
                <h3
                    class="font-bold font-2-times text-[18px] text-black mb-[12px] md:mb-[15px] xl:mb-[20px]"
                >
                    Sobre Nosotros
                </h3>
                <ul class="text-[14px] md:text-[15px] text-[#343456]">
                    <li class="mb-[10px] last:mb-0">
                        <a
                            routerLink="/about"
                            class="transition-all hover:text-[#51869a] font-2-times"
                        >
                            Acerca de Nosotros
                        </a>
                    </li>
                    <li class="mb-[10px] last:mb-0">
                        <a
                            routerLink="/services"
                            class="transition-all hover:text-[#51869a] font-2-times"
                        >
                            Nuestros Servicios
                        </a>
                    </li>
                </ul>
            </div>
            <div class="md:pr-[80px]">
                <h3
                    class="font-bold font-2-times text-[18px] text-black mb-[12px] md:mb-[15px] xl:mb-[20px]"
                >
                    Proyectos
                </h3>
                <ul class="text-[14px] md:text-[15px] text-[#343456]">
                    <li class="mb-[10px] last:mb-0">
                        <a
                            routerLink="/customer"
                            class="transition-all hover:text-[#51869a] font-2-times"
                        >
                            Clientes
                        </a>
                    </li>
                    <li class="mb-[10px] last:mb-0">
                        <a
                            routerLink="/featured-projects"
                            class="transition-all hover:text-[#51869a] font-2-times"
                        >
                            Proyectos Destacados
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center flex flex-col items-center md:-ml-[80px]">
                <h3
                    class="font-bold font-2-times text-[18px] text-black mb-[20px]"
                >
                    ¿Quieres contactarnos?
                </h3>
                <form>
                    <button
                        type="button"
                        routerLink="/contact"
                        class="py-[12px] px-[41px] bg-[#343456] rounded-[30px] text-white uppercase text-[13px] md:text-[14px] font-medium transition-all hover:bg-[#343456] font-2-times"
                    >
                        Contactanos
                    </button>
                </form>
            </div>
        </div>
        <div
            class="copyright-area mt-[60px] md:mt-[80px] lg:mt-[100px] xl:mt-[120px] relative z-[1] before:absolute before:left-0 before:right-0 before:top-0 before:h-[1px] py-[30px] md:py-[35px]"
        >
            <div class="grid grid-cols-1 md:grid-cols-3 self-center">
                <div class="lg:flex md:col-span-2">
                    <div class="self-center">
                        <p
                            class="text-[14px] md:text-[15px] text-[#343456] leading-[1.7] font-2-times"
                        >
                            © Titan. Todos los derechos reservados<a
                                href="https://titan.com.co"
                                class="text-black font-medium transition-all hover:text-[#51869a] font-2-times"
                                target="_blank"
                            ></a>
                        </p>
                    </div>
                    <div class="self-center mt-[9px] lg:mt-0 lg:ml-[45px]">
                        <a
                            routerLink="/privacy-policy"
                            class="inline-block text-[14px] md:text-[15px] text-[#343456] transition-all underline hover:text-[#51869a] mr-[24px] last:mr-0 font-2-times"
                        >
                            Política de privacidad
                        </a>
                        <a
                            routerLink="/terms-conditions"
                            class="inline-block text-[14px] md:text-[15px] text-[#343456] transition-all underline hover:text-[#51869a] mr-[24px] last:mr-0 font-2-times"
                        >
                            Terminos y condiciones
                        </a>
                    </div>
                </div>
                <div class="mt-[15px] mr-[35px] md:mt-0 md:text-right self-center">
                    <a
                        href="https://www.instagram.com/grupoempresarialtitan?igsh=Z2ozYnd3djZ1Nnp5&utm_source=qr"
                        target="_blank"
                        class="inline-block leading-[1] text-[#343456] text-[18px] md:text-[20px] lg:text-[22px] ml-[12px] first:ml-[0] transition-all hover:text-[#51869a] font-2-times"
                    >
                        <i class="ri-instagram-fill"></i>
                    </a>
                    <a
                        href="https://www.linkedin.com/in/grupo-empresarial-tit%C3%A1n-127192368?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
                        target="_blank"
                        class="inline-block leading-[1] text-[#343456] text-[18px] md:text-[20px] lg:text-[22px] ml-[12px] first:ml-[0] transition-all hover:text-[#51869a] font-2-times"
                    >
                        <i class="ri-linkedin-fill"></i>
                    </a>


                    <!-- WhatsApp -->
                    <a
                        href="https://wa.me/573016235089?text=Hola%2C%20quisiera%20m%C3%A1s%20info"
                        target="_blank"
                        class="inline-block leading-[1] text-[#343456] text-[18px] md:text-[20px] lg:text-[22px] ml-[12px] first:ml-[0] transition-all hover:text-[#51869a] font-2-times"
                    >
                        <i class="ri-whatsapp-fill"></i>
                    </a>

                    
                </div>
            </div>
        </div>
    </div>
</footer>
