<div class="bg-[#f0f8ff]">

  <!-- Título de la página -->
  <div class="py-[20px] md:py-[25px]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
      <ul class="text-[#343456] text-[14px] font-serif">
        <li class="inline-block mr-[22px] last:mr-0">
          <a routerLink="/" class="transition-all hover:text-[#51869a]">
            Inicio
          </a>
        </li>
        <li class="inline-block">
          Política de Privacidad
        </li>
      </ul>
    </div>
  </div>
  <!-- Fin Título de la página -->

  <!-- Política de Privacidad abreviada -->
  <div class="pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[120px]">
    <div class="container mx-auto px-[12px] 2xl:px-0 font-serif text-[#343456] text-[14px] leading-[1.7]">

      <p class="mb-[15px]">
        De conformidad con la Ley 1581 de 2012 y el Decreto 1377 de 2013 de Protección de Datos Personales en Colombia, en Grupo Empresarial Tita sólo recopilamos su nombre y dirección de correo electrónico cuando usted nos escribe mediante el formulario de “Contáctanos”.  
        Estos datos se usan exclusivamente para responder a su solicitud, no se comparten con terceros y se eliminan una vez atendida su consulta.
      </p>

      <p>
        Para ejercer sus derechos de acceso, rectificación o eliminación, contáctenos en  
        <a href="mailto:Titaningenieriaelectrica&#64;gmail.com" class="underline hover:text-[#51869a]">
          Titaningenieriaelectrica&#64;gmail.com
        </a>.
      </p>

    </div>
  </div>
  <!-- Fin Política de Privacidad abreviada -->

</div>
